<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
            }// ]]></script>
<head>
    <title>PyLinkChecker</title>
    <style>
   textarea {
    width: 90%;
    height: 200px;
    resize: none;
   }

    div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url (templates/ajax-loader.gif) no-repeat;
    cursor: wait;
    }
    </style>
</head>
<body>
<form method="POST" action="/get_result">
    <h1>Put links here</h1>
    <textarea name="url_list"></textarea>
    <br>
    <input type="radio" name="agent_option" value ="on">Run as mobile client<Br>
    <input type="radio" name="agent_option" value ="off" checked hidden=true>
    <div id="loading"></div>
    <div id="content">
    <input type="submit" value="SUBMIT" style="background-color:#f14e4e; cursor: pointer; font-size:20px;" onclick="loading();"/>
        </div>
</form>
</body>
</html>